:root {
  color-scheme: light dark;
}

body {
  background-color: #f9f9f9;
}

input,
button,
textarea {
  padding: 4px 8px;
  border: 2px solid currentColor;
  border-bottom: 4px solid currentColor;
  background-color: #eeeeee;
  color: #444444;
  border-radius: 2px;
}

input:focus,
button:focus,
textarea:focus {
  outline: 2px solid #6699ee;
}

button:active {
  border-bottom-width: 2px;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 6px;
  gap: 6px;
}

#nav,
#metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
}

#nav {
  justify-content: space-between;
}

#metadata {
  justify-content: flex-end;
}

#code {
  width: 100%;
  flex-grow: 1;
  padding: 6px;
  overflow-y: auto;
  resize: none;
}

#copy-link {
  flex-grow: 1;
}
