body {
  background-color: light-dark(#f9f9f9, #060606);
}

input,
button,
textarea {
  padding: 4px 8px;
  border: 2px solid currentColor;
  border-bottom: 4px solid currentColor;
  background-color: light-dark(#eeeeee, #111111);
  color: light-dark(#444444, #eeeeee);
  border-radius: 2px;
}

input:focus,
button:focus,
textarea:focus {
  outline: 2px solid #4466eecc;
}

button:active {
  margin-top: 2px;
  border-bottom-width: 2px;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 6px;
  gap: 6px;
}

#nav,
#meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

#text {
   width: 100%;
   flex-grow: 1;
   padding: 6px;
   overflow-y: auto;
   resize: none;
}

#copy-link {
  flex-grow: 1;
}
